In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_json("/home/arbas19/Downloads/feverous_train_challenges.jsonl",lines=True)
df.head()

,id,claim,label,evidence,annotator_operations,challenge
0,,,,,,
1,24435,Michael Folivi competed with ten teams from 20...,REFUTES,"[{'content': ['Michael Folivi_cell_1_2_0', 'Mi...","[{'operation': 'start', 'value': 'start', 'tim...",Numerical Reasoning
2,14802,Asiatic Society of Bangladesh(housed in Nimtal...,SUPPORTS,[{'content': ['Asiatic Society of Bangladesh_s...,"[{'operation': 'start', 'value': 'start', 'tim...",Other
3,28540,"Lindfield railway station has 3 bus routes, in...",SUPPORTS,[{'content': ['Lindfield railway station_sente...,"[{'operation': 'start', 'value': 'start', 'tim...",Other
4,71874,Mukaradeeb('Wolf's Den') is a city in Iraq nea...,SUPPORTS,"[{'content': ['Mukaradeeb_sentence_1', 'Mukara...","[{'operation': 'start', 'value': 'start', 'tim...",Combining Tables and Text

In [19]:
df['claim'][1]

'Michael Folivi competed with ten teams from 2016 to 2021, appearing in 54 games and making seven goals in total.'

In [ ]:



#To replicate the paper, download paper_dev and paper_test files. These are concatenated for the shared task

wget -O data/fever-data/dev.jsonl https://s3-eu-west-1.amazonaws.com/fever.public/paper_dev.jsonl
wget -O data/fever-data/test.jsonl https://s3-eu-west-1.amazonaws.com/fever.public/paper_test.jsonl

#To train the model for the shared task (the test set will be released in July 2018)
wget -O data/fever-data/dev.jsonl https://s3-eu-west-1.amazonaws.com/fever.public/shared_task_dev.jsonl
wget -O data/fever-data/test.jsonl https://s3-eu-west-1.amazonaws.com/fever.public/shared_task_test.jsonl

In [18]:
df['evidence'][30]

[{'content': ['Togoville_sentence_0',
   'Togoville_cell_0_2_1',
   'Togoville_cell_0_4_1'],
  'context': {'Togoville_sentence_0': ['Togoville_title'],
   'Togoville_cell_0_2_1': ['Togoville_title',
    'Togoville_header_cell_0_2_0',
    'Togoville_header_cell_0_0_0'],
   'Togoville_cell_0_4_1': ['Togoville_title',
    'Togoville_header_cell_0_4_0',
    'Togoville_header_cell_0_3_0']}}]